<div style="min-height:70vh;width: 315px;">

  <div class="dashboard-presentation-container">
    <p>192 T</p>
    <img class="avatar-dash" src="https://res.cloudinary.com/tark-industries/image/upload/v1553179848/default_avatar.png">
    <p>John Smith</p>

    <div class="categories-block">

      <div class="category-container">
          <div>
            <i style="width: 30px" class="onglet-item fas fa-user-ninja"></i>
            <p class="onglet-item">Mes infos</p>
          </div>
          <img src="https://res.cloudinary.com/tark-industries/image/upload/v1553081403/Arrow_SKYTREEP.png" class="slider__presentation__arrow dashboard-direction" > 
      </div>

      <div class="category-container">
          <div>
            <i style="width: 30px" class="onglet-item fas fa-leaf"></i>
            <p class="onglet-item">Mes dettes écologiques/voyages</p>
          </div>
          <img src="https://res.cloudinary.com/tark-industries/image/upload/v1553081403/Arrow_SKYTREEP.png" class="slider__presentation__arrow dashboard-direction"> 
      </div>

      <div class="category-container">
          <div>
            <i style="width: 30px" class="onglet-item fas fa-user-ninja"></i>
            <p class="onglet-item">le crowdfunding de skytreep</p>
          </div>
          <img src="https://res.cloudinary.com/tark-industries/image/upload/v1553081403/Arrow_SKYTREEP.png" class="slider__presentation__arrow dashboard-direction"> 
      </div>

    </div>
  </div>




</div>
<!-- <div class="flights-user">
	<div class="container">
  	<div class="row">
  	    <% @flights.each do |flight| %> 	    
  			<div class=" col-3 grande-dive">
  		    	<div class="petites-dives upper">
  		    		<div class="dashboard-card-layer">
  			    		<div class="villes">
  			    			<p><%= flight.ville_aller %> - <%= flight.ville_retour %></p>
  			    		</div>
  			    		<div class="distance-co2">
  			    			<p>Km : <%= flight.distance %></p>
  			    			<p>co2 : <%= flight.co2 %> Kg</p>
  			    		</div>
  			    		<div class="dashboard-date-container upper-date">
  			    			<p class="dashboard-date-title">Aller</p>
  			    			<p><%= flight.date_aller %></p>
  			    		</div>
  			    	</div>
  		    	</div>
  		    	<div class="petites-dives lower">
  		    		<% if flight.date_retour != 'undefined' || nil %>
  			    		<div class="dashboard-date-container lower-date">
  			    			<p class="dashboard-date-title">Retour</p>
  			    			<p><%= flight.date_retour %></p>
  			    		</div>
  		    		<% end %>
  		    		<div class="dashboard-slider-container" style="width:80%;">
  		    			<div id="dashboard-sliderAnchor"></div>
  		    	    </div>
  		    	    <p>Vous avez compensé X% de votre dette écologique</p>
  		    	</div> 
  		    </div>		
  		<% end %>
  	</div>
  </div>
</div> -->
































