
<div class="navbar-component-main-container">
  <div class="rectangle-navbar navbar-component-container">

    <div class="logo-navbar-component">
        <a href="http://www.skytreep.fr">
          <img src="https://res.cloudinary.com/tark-industries/image/upload/v1556623705/LOGO_SKYTREE_P_blanc.png">
        </a>
    </div>

    <ul class="liste-navbar">

      <li class="li-before">
       <li><i class="fas fa-plane"></i></li>
       <li><%= link_to 'Vols', search_path %></a></li>
     </li>



      <li class="li-before">
        <li><i class="far fa-lightbulb"></i></li>
        <li>
          <div class="dropdown show">
            <a class="navba-propos btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              A propos
            </a>

            <div class="dropdown-menu apropos-drop" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-item"> <%= link_to 'A propos', about_path %> </div>
              <div class="dropdown-item"> <%= link_to 'Nos objectifs', objectifs_path %> </div>
              <div class="dropdown-item"> <%= link_to 'Nos calculs Co2 / Arbres', noscalculs_path %> </div>
            </div>
          </div>
        </li>
       </li>


      <li class="li-before">
       <li><i class="fas fa-tree"></i></li>
       <li><%= link_to 'Les arbres', lesarbres_path %></li>
      </li>

      <li class="li-before">
        <li><i class="fas fa-user-ninja"></i></li>
        <li><% if user_signed_in? %>
           <%= link_to 'Déconnection', destroy_user_session_path, method: :delete %>
           <% else %>
           <%= link_to 'Se connecter', new_user_session_path %>
          <% end %>
        </li>
      </li>

      <li class="li-before">
       <li><img class="fr-flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/1280px-Flag_of_France.svg.png"></li>
       <li><a href="#">Français (EUR)</a></li>
      </li>
      <div class="beta-call-icons">
        <p class="beta-icon">BÊTA</p>
        <p class="call-icon" data-target="#AidezNousModal" data-toggle="modal">AIDEZ NOUS ?</p>
      </div>
    </ul>
  </div>
</div>


<div class="modal" id="AidezNousModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-formulaire-title">
          <p>Nous avons besoin de toi pour avancer<i data-dismiss="modal" class="fas fa-times cross-closing-modal"></i></p>
      </div>
      <div class="modal-body">   
        <%= form_tag questions_path, :class => 'formulaire-participation' do %>
      
          <div>
            <p>Qu'est ce qui t'as paru le moins clair ?</p>
            <%= text_area_tag :reponse, params[:reponse] %>
          </div>
          

          <div>
            <p class="text-for-mail">Rejoins une communauté engagée et fais partie de l'aventure vers un transport éco-responsable (optionnel)</p>
            <%= text_field_tag :email, params[:email], placeholder: 'marie.lami@skytreep.fr' %>
          </div>
          

          <button type="submit" class="submit-button">Soumettre</button>
        <% end %>
      </div>
    </div>
  </div>
</div>






