
<div style="background-color: white;" class="about-page">

    <ul class="liste-navbar-no-bg">

      <li class="li-before">
       <li><i class="fas fa-plane"></i></li>
       <li><%= link_to 'Vols', search_path %></li>
     </li>


      <li class="li-before">
      <li><i class="far fa-lightbulb"></i></li>
      <li>
        <div class="dropdown show">
          <a class="navba-propos btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            A propos
          </a>

          <div class="dropdown-menu apropos-drop" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-item"> <%= link_to 'A propos', about_path %> </div>
            <div class="dropdown-item"> <%= link_to 'Nos objectifs', objectifs_path %> </div>
            <div class="dropdown-item"> <%= link_to 'Nos calculs Co2 / Arbres', noscalculs_path %> </div>
          </div>
        </div>
      </li>
     </li>


      <li class="li-before">
       <li><i class="fas fa-tree"></i></li>
       <li><%= link_to 'Les arbres', lesarbres_path %></li>
     </li>

      <li class="li-before">
        <li><i class="fas fa-user-ninja"></i></li>
        <li><% if user_signed_in? %>
           <%= link_to 'Déconnection', destroy_user_session_path, method: :delete %>
           <% else %>
           <%= link_to 'Se connecter', new_user_session_path %>
          <% end %>
        </li>
     </li>

      <li class="li-before">
       <li><img class="fr-flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/1280px-Flag_of_France.svg.png"></li>
       <li><a href="#">Français (EUR)</a></li>
     </li>

    </ul>

      <div class="logo">
        <a href="http://www.skytreep.fr">
          <img src="https://res.cloudinary.com/tark-industries/image/upload/v1556618176/LOGO_SKYTREE_P_blanc.png">
        </a>
      </div>


<!-- /*  * * * * * * * * * * *
      *  page about        *
      * * * * * * * * * * *   */ -->

  <div>
    <div class="titre-page">
      <h1>A propos de Skytree'p</h1>
    </div>

    <div class="texte-apropos">
      <p class="intro-apropos">Skytree’p est une entreprise de l’économie sociale et solidaire qui lutte contre le réchauffement climatique.
      </p>

      <div class="questions-apropos">
        <div class="question1">
          <ul>
            <li>
              <p>
                <a style="width: 200px; margin-right: 10px;" class="btn bouton-apropos" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Qui sommes nous ?
                </a>
              </p>
            </li>
            <li>

              <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.9393 13.0607C11.5251 13.6464 12.4749 13.6464 13.0607 13.0607L22.6066 3.51472C23.1924 2.92893 23.1924 1.97918 22.6066 1.3934C22.0208 0.807612 21.0711 0.807612 20.4853 1.3934L12 9.87868L3.51472 1.3934C2.92893 0.807612 1.97918 0.807612 1.3934 1.3934C0.807612 1.97918 0.807612 2.92893 1.3934 3.51472L10.9393 13.0607ZM10.5 10.5V12H13.5V10.5H10.5Z" fill="black"/>
              </svg>
            </li>
          </ul>
          <div class="collapse" id="collapseExample">
            <div class="card card-body texte-question">
              Nous avons créé cette structure avec deux objectifs : <br>
              &nbsp &nbsp ⁃ Informer nos utilisateurs sur l’impact écologique de l’avion pour qu’ils l’utilisent de la façon là moins polluante possible. <br>
              &nbsp &nbsp ⁃ Créer une synergie avec nos utilisateurs pour compenser l’impact de ces trajets.
            </div>
          </div>
        </div>

        <div class="question2">
          <ul>
            <li>
              <p>
                <a style="width: 380px; margin-right: 10px;" class="btn bouton-apropos" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Quelle est notre position face à l'avion ?
                </a>
              </p>
            </li>
            <li>

              <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.9393 13.0607C11.5251 13.6464 12.4749 13.6464 13.0607 13.0607L22.6066 3.51472C23.1924 2.92893 23.1924 1.97918 22.6066 1.3934C22.0208 0.807612 21.0711 0.807612 20.4853 1.3934L12 9.87868L3.51472 1.3934C2.92893 0.807612 1.97918 0.807612 1.3934 1.3934C0.807612 1.97918 0.807612 2.92893 1.3934 3.51472L10.9393 13.0607ZM10.5 10.5V12H13.5V10.5H10.5Z" fill="black"/>
              </svg>
            </li>
          </ul>
          <div class="collapse" id="collapseExample2">
            <div class="card card-body texte-question">
              Skytree’p n’est en aucun cas une incitation à prendre l’avion mais plutôt une proposition pour l’utiliser raisonnablement quand on ne peut pas faire autrement. Il est de notre devoir de chacun de ne pas consommer plus que ce que la terre a à nous offrir. (1,7 tonnes de Co2 / an / habitant.)
              <br> <br>
              Nous sommes certains de l’urgence climatique qui pèse sur l’humanité en ce moment même. Il faut donc rapidement réagir pour garder intact le fragile équilibre qui tient encore aujourd’hui.
              <br> <br>
              Notre position face à l’avion s’apparente à de l’idéalisme pragmatique. Nous savons que la solution pour endiguer le réchauffement climatique est de réduire drastiquement notre consommation. Mais nous savons aussi que chaque année, il y aura de plus en plus de passagers.
              <br> <br>
              Alors que faire ? Si nous ne pouvons pas stopper nos émissions de gaz à effet de serre, nous pouvons au minimum les réduire et les compenser.
            </div>
          </div>
        </div>

        <div class="question3">
          <ul>
            <li>
              <p>
                <a style="width: 500px; margin-right: 10px;" class="btn bouton-apropos" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Comment réduire les émissions de gaz à effet de serre ?
                </a>
              </p>
            </li>
            <li>

              <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.9393 13.0607C11.5251 13.6464 12.4749 13.6464 13.0607 13.0607L22.6066 3.51472C23.1924 2.92893 23.1924 1.97918 22.6066 1.3934C22.0208 0.807612 21.0711 0.807612 20.4853 1.3934L12 9.87868L3.51472 1.3934C2.92893 0.807612 1.97918 0.807612 1.3934 1.3934C0.807612 1.97918 0.807612 2.92893 1.3934 3.51472L10.9393 13.0607ZM10.5 10.5V12H13.5V10.5H10.5Z" fill="black"/>
              </svg>
            </li>
          </ul>
          <div class="collapse" id="collapseExample3">
            <div class="card card-body texte-question">
              Notre objectif n°1 est de vous faire prendre conscience de votre impact écologique. Ainsi, sur chaque billet, vous pouvez voir la distance parcourue, la quantité de co2 émise et la dette  écologique du trajet.
              Dès l’automne prochain, nous vous proposerons également d’acheter des billets de trains pour de courtes distances comme Paris-Marseille. <br>
              Notre priorité, c’est de faire de vous des voyageurs plus responsables utilisant les meilleures pratiques.
            </div>
          </div>
        </div>

        <div class="question4">
          <ul>
            <li>
              <p>
                <a style="width: 525px; margin-right: 10px;" class="btn bouton-apropos" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                Comment compenser les émissions de gaz à effet de serre ?
                </a>
              </p>
            </li>
            <li>

              <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.9393 13.0607C11.5251 13.6464 12.4749 13.6464 13.0607 13.0607L22.6066 3.51472C23.1924 2.92893 23.1924 1.97918 22.6066 1.3934C22.0208 0.807612 21.0711 0.807612 20.4853 1.3934L12 9.87868L3.51472 1.3934C2.92893 0.807612 1.97918 0.807612 1.3934 1.3934C0.807612 1.97918 0.807612 2.92893 1.3934 3.51472L10.9393 13.0607ZM10.5 10.5V12H13.5V10.5H10.5Z" fill="black"/>
              </svg>
            </li>
          </ul>
          <div class="collapse" id="collapseExample4">
            <div class="card card-body texte-question">
              Notre proposition : <br>
              - Nous utilisons 80% de notre bénéfice pour planter des arbres. <br>
              - Et donc nous compensons gratuitement et automatiquement 20% de la dette écologique de votre trajet. <br>
              - Vous pouvez en faire plus en donnant davantage. C’est de votre responsabilité.
            </div>
          </div>
        </div>

        <div class="question5">
          <ul>
            <li>
              <p>
                <a style="width: 297px; margin-right: 10px;" class="btn bouton-apropos" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Pourquoi planter des arbres ?
                </a>
              </p>
            </li>
            <li>

              <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.9393 13.0607C11.5251 13.6464 12.4749 13.6464 13.0607 13.0607L22.6066 3.51472C23.1924 2.92893 23.1924 1.97918 22.6066 1.3934C22.0208 0.807612 21.0711 0.807612 20.4853 1.3934L12 9.87868L3.51472 1.3934C2.92893 0.807612 1.97918 0.807612 1.3934 1.3934C0.807612 1.97918 0.807612 2.92893 1.3934 3.51472L10.9393 13.0607ZM10.5 10.5V12H13.5V10.5H10.5Z" fill="black"/>
              </svg>
            </li>
          </ul>
          <div class="collapse" id="collapseExample5">
            <div class="card card-body texte-question">
              C’est une véritable aubaine pour la planète, parce que : <br>
              - Vous retirez du Co2 de l’atmosphère. <br>
              - Vous recréez un écosystème qui sauve notre fragile biodiversité. <br>
              - Vous enrichissez et refroidissez les sols. <br> <br>
              Cependant la compensation carbone n’est utile que si l’industrie poursuit sa transition vers la neutralité carbone. <br>
              <br>
              « Si nous voulons réellement éviter des changements planétaires catastrophiques, nous devons réduire nos émissions de 45 % d’ici à 2030, indique l’ONU Environnement. Or les arbres plantés aujourd’hui ne peuvent pas pousser suffisamment vite pour atteindre cet objectif. »
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






















